@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html,
body {
  font-family: "Poppins", sans-serif;
  color: #111;
}
.hero-content {
  width: 50%;
  padding: 100px;
}
.hero-content h1 {
  font-size: 5rem;
  font-weight: bold;
}
.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}
.hero-btn {
  padding: 15px 30px;
  color: #111;
  text-decoration: none;

  background-color: #111;
  border: none;
  color: white;
  transition: 0.5s ease-in-out;
}
.hero-btn:hover {
  /* border:1px solid #111;
  border-radius: 5px;
  background-color: transparent;
  color: #111; */
  background-color: #990100;
  border-radius: 5px;
}

.hero-img-container {
  width: 50%;
  padding: 50px;
}

.hero-img {
  width: 800px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-animation: hero-bg-animation 3s infinite alternate;
  -moz-animation: hero-bg-animation 3s infinite alternate;
  -ms-animation: hero-bg-animation 3s infinite alternate;
  -o-animation: hero-bg-animation 3s infinite alternate;
  animation: hero-bg-animation 3s infinite alternate;
  animation-timing-function: ease-in-out;
}
@keyframes hero-bg-animation {
  0% {
    -webkit-bottom: 15px;
    -moz-bottom: 15px;
    -ms-bottom: 15px;
    -o-bottom: 15px;
    bottom: 15px;
  }
  100% {
    -webkit-bottom: 25px;
    -moz-bottom: 25px;
    -ms-bottom: 25px;
    -o-bottom: 25px;
    bottom: 25px;
  }
}
/* end animation */

/* appointment and announcement */

.appointment {
  width: 100%;
  align-items: flex-start !important;
  margin: auto;
}
.announcement {
  width: 100%;
  align-items: flex-start !important;
  margin: auto;
}
.announcement h1 {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.appointment h1 {
  text-align: center;
  font-size: 2rem;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-appoint {
  min-width: 50%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  padding: 50px;
  border-radius: 7px;
  transition: 0.5s ease-in;
}
.card-announce .posted-by {
  text-align: right;
  color: #6c757d;
}

.card-announce {
  min-width: 50%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  padding: 50px;
  border-radius: 7px;
  transition: 0.5s ease-in;
}
.card-announce:hover,
.card-appoint:hover {
  transform: scale(1.01);
}

/* register */
.register {
  position: relative;
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.register .register-form {
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  padding: 50px 50px 20px;
}
.register .register-form form {
  width: 100%;
}
.register .register-form .row {
  display: flex;
  width: 100%;
}
.register .register-form .row .input-1 {
  width: 100%;
  margin: 0 15px;
}
.register .register-form .row .input-2 {
  width: 50%;
  margin: 0 15px;
}
.register .register-form .row .input-3 {
  width: 33.33%;
  margin: 0 15px;
}
.input-1 .label,
.input-2 .label,
.input-3 label,
.input-3 input[type="text"] {
  display: block;
}

.input-1 .label,
.input-2 .label,
.input-3 .label {
  margin-bottom: 10px;
}
.register-form input[type="text"],
.register-form input[type="date"],
.register-form input[type="password"],
.register-form textarea {
  position: relative;
  border: 1px solid #ced4da;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  outline: none;
  resize: none;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 300;
  margin-bottom: 15px;
}

.register-form textarea {
  font-weight: 400;
}

.register-form input[type="text"]:focus,
.register-form input[type="date"]:focus,
.register-form textarea:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.1em rgba(0, 123, 255, 0.25);
}
.btn-reg {
  display: flex;
  /* justify-content: flex-end; */
  float: right;
  padding: 15px 25px;
  margin: 0 15px;
  width: 10%;
  color: #fff;
  background-color: #111;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn-reg:hover {
  background-color: #990100;
}
input[type="submit"]:disabled {
  cursor: not-allowed;
  background-color: #6c757d;
}

footer {
  padding: 50px 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #111;
}
footer a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.5s ease-in-out;
}
footer a:hover {
  color: #80bdff;
}
.login form {
  margin-top: 20vh;
}
.login .btn-login {
  display: flex;
  /* justify-content: flex-end; */
  float: right;
  padding: 15px 25px;
  margin: 0 15px;
  color: #fff;
  background-color: #111;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.login img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  width: 75%;
}
