/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 5px 35px;
  font-size: 14px;
  left: -35px;
}

/* Add a blue text color and a checkmark when the requirements are right */
.valid {
  color: #007bff;
}

.valid:before {
  position: relative;
  /* left: -35px; */
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: #dc3545;
}

.invalid:before {
  position: relative;
  /* left: -35px; */
  content: "✖";
}